body {
    text-align: center;
}

.first  {
    transform: rotate(-36deg);
}

.third {
    transform: rotate(36deg);
}

.fourth {
    transform: rotate(90deg)
}

.fifth {
    transform: rotate(135deg);
}

.sixth {
    transform: rotate(180deg);
}

.seventh {
    transform: rotate(270deg);
}

.eigth {
    transform: rotate(360deg);
}